.input {
    display: flex;
}

.address {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 300px;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
    margin-right: 10px;
}

.button {
    border-radius: 6px;
    height: 48px;
    width: 180px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background: #82dcc4;
}

.output thead {
    background: #5bc8ac;
}

.output thead tr th {
    font-weight: bold;
    padding: 12px 30px 12px 42px;
}

.output tbody tr td {
    background: #eaedf2;
    padding: 15px 10px;
}

.output tbody tr td:hover {
    background: #8eeacd;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.ribbon-label {
    display: inline-block;
    position: absolute;
    padding: 5px 0;
    left: -18px;
    top: 18px;
    width: 160px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    background: #5bc8ac;
    color: #fff;
    transform: rotate(45deg);
    box-shadow: 0 0 0 2px #8eeacd;
    border-top: dashed 2px rgba(255, 255, 255, 0.6);
    border-bottom: dashed 2px rgba(255, 255, 255, 0.6);
}
