[package]
name = "japanese-address-parser"
version.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
authors.workspace = true
license.workspace = true
readme = "../README.md"
keywords.workspace = true
categories.workspace = true
rust-version = "1.64.0"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
itertools = "0.12.0"
js-sys = "0.3.67"
nom = "7.1.3"
regex = "1.10.2"
reqwest = { version = "0.12.3", default-features = false, features = ["json", "rustls-tls", "blocking"] }
serde = { version = "1.0.192", features = ["derive"] }

[dev-dependencies]
test-case = "3.3.1"
tokio = { version = "1.37.0", features = ["rt", "macros"] }
wasm-bindgen-test = { workspace = true }
